.custon-section{
    width: 90vw;
    margin: 2rem 0;
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
}
.cs-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1rem;
}
.cs-head-txt{
    font-size: 1.567rem;
}
.cs-headbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}
.cs-headbtn .icon{
    font-size: 1.7rem;
} 
.cs-content{
    width: 100%;
    display: flex;
    justify-content: center;
}
.cs-content .cs-data{
    padding: 0 0.4rem;
    width: 100%;
}