.custon-section{
    margin: 2rem 0;
    background: rgba(255, 255, 255, 0);
    padding: .5rem 0 .5rem 1rem;
}
.cs-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.cs-head-txt{
    font-size: 1.2rem;
}
.cs-headbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    gap: 2px;
    cursor: pointer;
}
.cs-headbtn .icon{
    font-size: 1.7rem;
} 
.cs-content{
    display: flex;
    padding: 1rem .4rem;
}