.navbar{
    background: transparent;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar .logo{
    font-size: 2rem;
    text-transform: uppercase;
    pointer-events: none;
    margin: .1rem 1rem;
}
.menu{
    margin: 0;
    padding: .2rem .5rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0 0 0 20px;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0 ;
}
.menu ul li{
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
}
.menu-item{
    display: inline-block;
    position: relative;
    margin: .3rem .7rem;
}
.menu-item:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.signup-btn:hover{
    border-color: #00e0c6;
    color: #00e0c6;
}
