.q-container{
    padding: 3rem 2rem;
}
.playarea{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 70%;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
}
.playarea .pa-1{  
    width: 35%;
    background: rgba(255, 255, 255, 0.2);
    padding: 22px;
}
.playarea .pa-2{
    background-color: rgba(245, 245, 245, 0.5);
    width: 65%;
    padding: 22px;
}
.pa-1 .h-topic{
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
}
.pa-1 .report{
    font-size: 28px;
    float: right;
    display: flex;
    gap: 5px;
}
.report .item{
    cursor: pointer;
}