/*Globals will be handled here*/
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #016170;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading{
  font-family: 'Rozha One', serif;
}
.normal{
  font-family: 'Montserrat Alternates', sans-serif;
}
.container{
  padding: 1rem 2rem;
}
section{
  min-height: 90vh;
  width: 100%;
}
/*Custom scroll bar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #009393;
}
::-webkit-scrollbar-thumb {
  background: #00e0c6;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}